# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives:
- List popular languages that Data Scientists use
- List commonly used libraries used by Data Scientists
- List development environment open source tools used in data science

## Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. Julia

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. PyTorch

|Data Science Tools|
|------------------|
|Jupyter|
|VS Code|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python
- 3+3
- 3-3
- 3*3

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Srikanth